<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Template page</title>
</head>
<body>
        <div>Name is ${name}</div>
        <ul>
            <#list numbers as number>
                <li>${number}</li>
            </#list>
        </ul>
</body>
</html>